
<p class="ad">The Safest Place for Gold, Jewels and Magical Artifacts.Secure a Vault today!</p>
<body>
    <h1 class="title">{{title}}</h1>
    <h3 class="founder">Founded in 1474 by Gringott</h3>
    
    <!-- <img src="./assets/homepage.jpeg" alt="Gringotts Wizarding Bank"> -->

    <nav>
        <a class="create" routerLink="/create-account">
            <button class="button">Create an Account</button></a>
        <p class ="login">Have an account already?
            <a class ="login1" routerLink="/userLogins">
                <button class="button">Take Me to my Vault</button></a>
        </p>
    </nav>
    <div class="footer">
        <p ><strong>&nbsp;Location:</strong>&nbsp;Diagon Alley, Charing Cross Road, London, England, Great Britain.</p>  
        <p ><strong>&nbsp;Positions:</strong>&nbsp;Head Goblin · Head Curse-Breaker · Curse-Breaker · Gringotts Guards · Gringott's Dragon · Vaults Guardian</p>     
        <p ><strong>&nbsp;Goblins:</strong>&nbsp;Bogrod · Burgock · Gornuk · Griphook · Nagnok · Odbert · Ragnok · Ricbert · Snaglok · Unnamed Head Goblin · Unnamed Stockbroker Goblin · Unnamed goblin guard · Unnamed spokesgoblin</p>
        <p ><strong>&nbsp;Unnamed goblins:</strong>&nbsp; I · II · III · IV · V · VI · VII · VIII · IX · X · XI · XII</p> 
        <p ><strong>&nbsp;Humans: </strong>&nbsp; Fleur Delacour · Marius · Patricia Rakepick · Teffington · Tertius · Bill Weasley · Unidentified Gringotts guard</p>
    </div>
</body>
