
<form> 
<label for="firstName">Muggle First Name</label><br>
<input type="text" name="firstName"><br><br>
<label for="lastName">Muggle Last Name</label><br>
<input type="text" name="lastName"><br><br>
<label for="phoneNumber">PhoneNumber</label><br>
<input type="text" name="phoneNumber"><br><br>
<label for="address">Address</label><br>
<input type="text" name="address"><br><br>
<label for="emailId">E-Mail Id</label><br>
<input type="text" name="emailId"><br><br>
<input type="submit" name="Submit"><br><br>
</form>
