<body>
<form> 
<label for="firstName">&nbsp;Muggle First Name</label><br>
<input type="text" name="firstName"><br><br>
<label for="lastName">&nbsp;Muggle Last Name</label><br>
<input type="text" name="lastName"><br><br>
<label for="phoneNumber">&nbsp;PhoneNumber</label><br>
<input type="text" name="phoneNumber"><br><br>
<label for="address">&nbsp;Address</label><br>
<input type="text" name="address"><br><br>
<label for="emailId">&nbsp;E-Mail Id</label><br>
<input type="text" name="emailId"><br><br>
<input type="submit" name="Submit"><br><br>
</form>
</body>