<body>
    <img class ="images" src="../assets/Advertisementjr.png" alt="safety advertisement" ><br>
<form> 
<label for="firstName">&nbsp;Muggle First Name</label><br>
<input type="text" name="firstName"><br><br>
<label for="lastName">&nbsp;Muggle Last Name</label><br>
<input type="text" name="lastName"><br><br>
<label for="phoneNumber">&nbsp;PhoneNumber</label><br>
<input type="text" name="phoneNumber"><br><br>
<label for="address">&nbsp;Address</label><br>
<input type="text" name="address"><br><br>
<label for="emailId">&nbsp;E-Mail Id</label><br>
<input type="text" name="emailId"><br><br>
<label for="password">&nbsp;Enter New Password</label><br>
<input type="password" name="password"><br><br>
<label for="password">&nbsp;Confirm New Password</label><br>
<input type="password" name="password"><br><br>
<nav>
    <a routerLink="/userLogins"><button>Submit</button></a>
</nav>
</form>

<img class ="images1" src="../assets/dragonad.jpg" alt="safety advertisement" >


</body>

