<body>
    <p class = "accountView" > Accounts View </p>
    <div *ngIf="accounts">
        <div *ngFor="let key of accounts">
          <div>{{key.accountId}} | {{key.accountName}} | {{key.accountType}} | {{key.amount}}</div>
        </div>
      </div>
      
      <div *ngIf="!accounts">
          <div>0 results found!</div>
      </div>


    <!-- <form>
        <label for="accountName">Muggle Name</label>
        <br>
        <input type="text" name="accountName">
        <br>
        <br>
      
        <label for="accountNumber">AccountNumber</label>
        <br>
        <input type="number" name="accountNumber">
        <br>
        <br>
        <label for="accountType">AccountType</label>
        <br>
        <select name="accountType" id="accountType">
            <option value="checking">Checking Account</option>
            <option value="saving">Saving Account</option>
        </select>
        <br>
        <br>
        <label for="emailId">Email id</label>
        <br>
        <input type="text" name="emailId">
        <br>
        <br>
        <label for="phoneNumber">Phone Number</label>
        <br>
        <input type="number" name="phoneNumber">
        <br>
        <br>
        <label for="birthday">Date of Birth</label>
        <br>
        <input type="date" name="birthday">
        <br>
        <br>
    </form>
    <nav>
        <a routerLink="/view-account">
            <button>Edit</button></a>
    </nav> -->

    <!-- <label for="readall">{{readAll}}</label> -->
</body>
