
<!-- <app-appUsers></app-appUsers> -->
<body>
<form #loginForm="ngForm" (ngSubmit)="submit(loginForm)"> 
<label for="emailId">Muggle E-Mail Id</label>
<br>
<input type="text" name="emailId" [(ngModel)]="emailId" required>
<br>
<br>
<label for="password">Password</label>
<br>
<input type="password" name="password" [(ngModel)]="password">
<br>
<br>
    <button type = "submit" > Submit </button>
</form>

<div *ngIf = "errorMessage != null"> 
    <label for="errorMess">&nbsp;Hey muggle,Wish you had magic to remember your login details?Too late!</label>
</div>


</body>