<body>
   <a class = "methods" *ngIf="appUserService.getCurrentUser() != null" (click)="appUserService.clearCurrentUser(appUserService.getCurrentUser())">
      <button class ="logout">Logout</button>
  </a>
  <br>
  <br>
   <a routerLink="/funds-transfer">
      <button class = "goBack">Back</button>
  </a>
  <br>
  <br>
   <form #withdrawForm="ngForm" (ngSubmit)="submit(withdrawForm)" >   
       <label for="accountName">Acocunt Name</label>
       <br>
       <input type="text" name="accountName">
       <br>
       <br>
       <label for="accountId">Account ID</label>
       <br>
       <select name="accountId" id="accountId" [(ngModel)]="accountId">
           <ng-container *ngFor="let a of accounts"> 
               <option  value="{{a.accountId}}">{{a.accountId}}</option>
           </ng-container>
   
       </select>
       <br>
       <br>
       <label for="accountType">Account Type</label>
       <br>
       <select name="accountType" id="accountType">
           <option value="checking">Checking Account</option>
           <option value="saving">Saving Account</option>
       </select>
       <br>
       <br>
       <label for="amountToWithdraw">Amount To Withdraw</label>
       <br>
       <input type="number" name="amountToWithdraw" [(ngModel)]="amountToWithdraw">
       <br>
       <br>
       <button type = "submit" > Submit </button>
   </form>
   
   </body>