<body>
    <nav>
        <a routerLink="/view-account">
            <button class="methods">View Account Information</button></a>
        <br>
        <br>
        <a routerLink="/checking-saving">
            <button class="methods"> Create Checking Or Savings</button></a>
        <br>
        <br>
        <a routerLink="/deposit">
            <button class="methods">Deposit</button></a>
        <br>
        <br>
        <a routerLink="/withdraw">
            <button class="methods">Withdraw</button></a>
        <br>
        <br>
        <a routerLink="/transfer-account">
            <button class="methods">Transfer</button></a>
        <br>
        <br>
    </nav>
</body>
