

<body>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</h1>
    <h3>&nbsp;&nbsp;Founded in 1474 by Gringott</h3>
    <h4><strong>&nbsp;&nbsp;Location:</strong>&nbsp;&nbsp;Diagon Alley, Charing Cross Road, London, England, Great Britain.</h4>
    <!-- <img src="./assets/homepage.jpeg" alt="Gringotts Wizarding Bank"> -->
   
    <nav>
        <a routerLink="/create-account"><button>Create an Account</button></a>
             <p>&nbsp;Have an account already?<br>
            <a routerLink="/userLogins"><button>Take Me to my Vault</button></a></p>
             </nav>
             <img src="../assets/Advertisementjr.png" alt="safety advertisement" width="200" height="100"><br>
             <img src="../assets/dragonad.jpg" alt="safety advertisement" width="100" height="100">
             <img src="../assets/Advertisement2.jpg" alt="safety advertisement" width="100" height="100">  
         <router-outlet></router-outlet><br><br><br><br><br><br><br>
        
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Positions:</strong>&nbsp;&nbsp;Head Goblin · Head Curse-Breaker · Curse-Breaker · Gringotts Guards · 
Gringott's Dragon · Vaults Guardian</p>     
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Goblins:</strong>&nbsp;&nbsp; Bogrod · Burgock · Gornuk · Griphook · Nagnok · Odbert · Ragnok · Ricbert · Snaglok · Unnamed Head Goblin · Unnamed Stockbroker Goblin · Unnamed goblin guard · Unnamed spokesgoblin</p>
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unnamed goblins:</strong>&nbsp; I · II · III · IV · V · VI · VII · VIII · IX · X · XI · XII</p> 
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Humans: </strong>&nbsp; Fleur Delacour · Marius · Patricia Rakepick · Teffington · Tertius · Bill Weasley · Unidentified Gringotts guard</p>    
</body>


   
  <!-- <app-messages></app-messages>  -->
