<form>   
     <label for="accountName">Muggle Name</label><br>
    <input type="text" name="accountName"><br><br>
  
    <label for="accountNumber">AccountNumber</label><br>
    <input type="number" name="accountNumber"><br><br>
    <label for="accountType">AccountType</label><br>
    <select name="accountType" id="accountType">
    <option value="checking">Checking Account</option>
    <option value="saving">Saving Account</option>
    </select><br><br>
    <label for="amountToDeposit">Amount To Deposit</label><br>
    <input type="number" name="amountToDeposit"><br><br>
</form>
