<body>
    <a class = "methods" *ngIf="appUserService.getCurrentUser() != null" (click)="appUserService.clearCurrentUser(appUserService.getCurrentUser())">
        <button class ="logout">Logout</button>
    </a>
    <br>
    <br>
    <a routerLink="/funds-transfer">
        <button class = "goBack">Back</button>
    </a>
    <br>
    <br>
    <form #createCheckingOrSavingForm="ngForm" (ngSubmit)="submit(createCheckingOrSavingForm)"> 
        <div *ngIf = "errorMessage != null"> 
            <label for="errorMess">&nbsp;What's the hurry!?! Enter All the details if you'd like a new Account!!</label>
        </div>
        <br>
        <br>
    <label for="accountName">Account Name</label>
    <br>
    <input type="text" name="accountName" [(ngModel)]="accountName">
    <br>
    <br>
    <label for="accountType">Account Type</label>
    <br>
    <select name="accountType" id="accountType" [(ngModel)]="accountType">
        <option value="checking">Checking Account</option>
        <option value="saving">Saving Account</option>
    </select>
    <br>
    <br>
    <label for="amount"> Amount </label>
    <br>
    <input type="number" name="amount" [(ngModel)]="amount">
    <!-- <br>
    <br>
    <label for="emailId"> E-Mail Id</label>
    <br>
    <input type="text" name="emailId" [(ngModel)]="emailId"> -->
    <br>
    <br>
    <button type = "submit" > Submit </button>
   
</form>

</body>