<body>
<form #transferForm="ngForm" (ngSubmit)="submit(transferForm)">   

    <!-- <label for="accountName">Muggle Name</label>
    <br>
    <input type="text" name="accountName">
    <br>
    <br> -->
    <label for="accountId">Account Id to Transfer From</label>
    <br>
    <select name="accountIdFrom" id="accountIdFrom" [(ngModel)]="accountIdFrom">
        <ng-container *ngFor="let a of accounts"> 
            <option  value="{{a.accountId}}">{{a.accountId}}</option>
        </ng-container>
    </select>
    <br>
    <br>
    <label for="accountType">Account Type</label>
    <br>
    <select name="accountType" id="accountType">
        <option value="checking">Checking Account</option>
        <option value="saving">Saving Account</option>
    </select>
    <br>
    <br>
    <label for="accountId">Account Id to Transfer To</label>
    <br>
    <select name="accountIdTo" id="accountIdTo" [(ngModel)]="accountIdTo">
        <ng-container *ngFor="let a of accounts"> 
            <option  value="{{a.accountId}}">{{a.accountId}}</option>
        </ng-container>
    </select>
    <br>
    <br>
    <label for="accountType">Account Type</label>
    <br>
    <select name="accountType" id="accountType">
        <option value="checking">Checking Account</option>
        <option value="saving">Saving Account</option>
    </select>
    <br>
    <br>
    <label for="amountToTransfer">Amount To Transfer</label>
    <br>
    <input type="number" name="amountToTransfer" [(ngModel)]="amountToTransfer">
    <br>
    <br>
    <button type = "submit" > Submit </button>

</form>

    <!-- <nav>
        <a routerLink="/view-account">
            <button>Submit</button></a>
    </nav> -->
</body>