<form>   

    <label for="accountName">Vault Holder Name</label><br>
   <input type="text" name="accountName"><br><br>
 
   <label for="accountNumber">Vault Number</label><br>
   <input type="number" name="accountNumber"><br><br>

   <label for="accountType">AccountType</label><br>
   <select name="accountType" id="accountType">
   <option value="checking">Checking Account</option>
   <option value="saving">Saving Account</option>
   </select><br><br>

   <label for="accountNameToTransfer">Vault Holder Name to Transfer to</label><br>
   <input type="text" name="accountNameToTransfer"><br><br>

   <label for="accountNumberToTransfer">Vault Number to Transfer to</label><br>
   <input type="number" name="accountNumberToTransfer"><br><br>

   <label for="amountToTransfer">Amount To Transfer</label><br>
   <input type="number" name="amountToTranfer"><br><br>

</form>

